.home_container {
  @include flex(center, center, column, 40px);
  padding: 20px;
  margin: 50px;

  @include media(medium2) {
    margin-top: 100px;
  }

  &_game {
    @include media(large) {
      width: 500px;
    }
    @include media(medium2) {
      @include flex(space-between, center, column, 20px);
      text-align: center;
      height: 150px;
    }

    @include media(small) {
      width: 400px;
      height: 180px;
      text-align: center;
    }
    background: linear-gradient(to bottom right, #00ffff, #00bfff);
    @include flex(space-between, center, row, 40px);
    padding: 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    width: 800px;
  }
}
